
<h2>Thông tin sản phẩm</h2>

<ul>
    <li><strong>ID:</strong> @Model.Id</li>
    <li><strong>Tên sản phẩm:</strong> @Model.Name</li>
    <li><strong>Giá:</strong> @Model.Price VNĐ</li>
</ul>
